@use "../abstract" as *;

.container {
  max-width: 1440px;
  padding-inline: size(40);
  margin-inline: auto;

  @include mq(md) {
    padding-inline: size(20);
  }

  @include mq(sm) {
    padding-inline: size(12);
  }
}