@use '../abstract' as *;

$sidebar-width: 18.75rem;
$sidebar-collapsed-width: 64px;

.sidebar {
    $root: &;
    @include d-flex($d: column, $jc: space-between);
    width: $sidebar-width;
    height: 100vh;
    position: fixed;
    box-shadow: inset 0 0 8rem 0.5rem var(--clr-primary-900);
    border-right: 1px solid var(--clr-primary-700);
    padding: size(24) size(20);
    z-index: 10;
    transition: box-shadow .5s ease-out, width .3s ease-out;

    &__logo {
        @include d-flex($d: column, $ai: center, $g: size(8));
        font-size: fs(400);
        font-weight: $fw-600;
        transition: all .3s ease-out;
        margin-bottom: size(24);

        &:hover {
            text-shadow: 0 0 4px var(--clr-primary-700);
            color: var(--clr-primary-500);
        }

        .icon-logo {
            font-size: fs(750);
        }
    }

    &__nav {
        &-link {
            @include d-flex($ai: center, $g: size(12));
            font-size: fs(350);
            padding: size(10) size(20);
            border-radius: size(10);
            transition: all .3s ease-out;
            cursor: pointer;
            user-select: none;

            &--active {
                color: var(--clr-primary-500);
                text-shadow: 0 0 6px var(--clr-primary-500);
            }

            i {
                font-size: fs(400);
            }

            &:hover {
                background-color: var(--clr-primary-900);
                box-shadow: 0 0 32px 1px var(--clr-primary-900);
            }

            &:last-child {
                color: var(--clr-neutral-400);
                font-size: fs(300);

                &:hover {
                    color: var(--clr-neutral-200);

                    i {
                        color: var(--clr-neutral-200);
                    }
                }

                i {
                    color: var(--clr-neutral-400);
                    font-size: fs(350);
                }
            }
        }

        &-separator {
            height: 1px;
            width: 100%;
            background-color: var(--clr-primary-900);
            margin: size(12) 0;
        }
    }

    &--collapsed {
        --artwork-size: 6.75rem;

        @include mq(lg) {
            --artwork-size: 5.75rem;
        }

        width: $sidebar-collapsed-width;
        align-items: center;
        box-shadow: inset 0 0 3rem .5rem var(--clr-primary-900);
        padding: 0 0 var(--artwork-size);
        z-index: 9999;

        #{$root}__logo {
            border-bottom: 1px solid var(--clr-primary-700);
            height: 57px;
            width: 100%;
            @include d-flex($jc: center);
            background: var(--clr-primary-800);

            .icon-logo {
                font-size: fs(450);
            }
        }

        #{$root}__nav {
            @include d-flex($d: column, $ai: center, $g: size(8));

            &-separator {
                width: 75%;
            }

            &-link {
                padding: size(10);

                i {
                    font-size: fs(450);
                }

                span {
                    display: none;
                }
            }
        }

        .player {
            $player: '.player';
            padding-inline: size(8);
            border-radius: unset;
            border: unset;
            box-shadow: unset;

            &__heading {
                justify-content: center;
                margin-bottom: 0;

                &-icons {
                    flex-direction: column;

                    i {
                        padding: size(10);
                        font-size: fs(450);
                    }
                }
            }

            &__artwork {
                margin-bottom: 0;
                width: var(--artwork-size);
                height: var(--artwork-size);

                &-track {
                    flex-direction: row;
                    gap: size(20);
                }
            }

            &__song-title-container {
                max-width: clamp(10rem, 20vw, 25rem);
            }

            &__now-playing {
                display: none;
            }

            &__bottom-half {
                @include d-flex($ai: center, $jc: space-between, $g: size(8));
                box-shadow: inset 0 0 6rem 0.5rem var(--clr-primary-900);
                border-top: 1px solid var(--clr-primary-700);
                position: absolute;
                left: 0;
                z-index: 999;
                bottom: calc(var(--artwork-size) * -1);
                width: 100vw;
                background: rgba(clr(generic, black), 0.75);
                backdrop-filter: blur(4px);
                padding-right: size(24);
            }

            &__track {
                margin-bottom: 0;
            }

            &__time {
                margin-bottom: 0;
            }

            &__primary-controls {
                margin-bottom: size(8);
                order: 0;
            }

            &__progress {
                width: clamp(14rem, 30vw, 30rem);

                &-container {
                    align-items: center;
                }
            }
        }

        .logo__text {
            display: none;
        }
    }

    &--mobile {
        --artwork-size: #{size(64)};
        box-shadow: unset;
        border-right: unset;
        position: fixed;
        left: -64px;

        .sidebar__logo {
            margin-bottom: 0;
            left: 64px;
            position: absolute;
        }

        .sidebar__nav {
            display: none;
        }

        .player {
            &__heading,
            &__progress,
            &__time,
            &__secondary-controls,
            &__primary-controls .icon-shuffle,
            &__primary-controls .icon-repeat {
                display: none;
            }

            &__primary-controls {
                margin-bottom: 0;
                padding-inline: 0;

                i {
                    font-size: fs(400);
                }
            }

            &__artwork-track {
                gap: size(12);
            }

            &__bottom-half {
                left: 40px;
                padding-right: size(8);
            }
        }
    }
}

#root:has(.sidebar--collapsed) {
    .content-wrapper {
        margin-left: $sidebar-collapsed-width;
    }

    .soundwave__gif-container {
        left: $sidebar-collapsed-width;
    }

    .topbar {
        width: calc(100% - #{$sidebar-collapsed-width});
        padding-left: size(28);
    }

    .footer--adjust-for-sidebar {
        margin-bottom: 109px;

        @include mq(lg) {
            margin-bottom: 5.75rem;
        }

        .footer__link {
            &:first-child,
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

#root:has(.sidebar--mobile) {
    .content-wrapper {
        margin-left: 0;
    }

    .soundwave__gif-container {
        left: 0;
    }

    .topbar {

    }

    .footer--adjust-for-sidebar {
        margin-bottom: 109px;

        @include mq(lg) {
            margin-bottom: size(64);
        }
    }
}