@use '../abstract' as *;

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  border-radius: 0.625rem;
  font-weight: $fw-600;
  background-color: transparent;
  transition: all 0.3s ease-out;
  padding: size(10) size(24);
  text-transform: uppercase;

  &--primary {
    color: var(--clr-primary-500);
    border: 2px solid var(--clr-primary-500);

    &:hover {
      background-color: var(--clr-primary-900);
    }
  }

  &--neutral {
    color: var(--clr-neutral-50);
    border: 2px solid var(--clr-neutral-100);

    &:hover {
      background-color: var(--clr-neutral-800);
    }
  }

  &--ghost {
    border: 2px solid var(--clr-neutral-900);
    color: var(--clr-neutral-200);

    &:hover {
      color: var(--clr-neutral-50);
      border-color: var(--clr-neutral-400);
      background-color: var(--clr-neutral-800);
    }
  }
}