@use '../abstract' as *;

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  border-radius: 0.625rem;
  font-weight: $fw-600;
  background-color: transparent;
  &--primary {
    padding: size(10) size(24);
    text-transform: uppercase;
    color: var(--clr-primary-500);
    border: 2px solid var(--clr-primary-500);
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: var(--clr-primary-900);
    }
  }
}