@use '../abstract' as *;

.carousel {
    --items-per-view: 5;
    --carousel-gap: #{size(32)};
    --item-width: calc((100% - (var(--carousel-gap) * (var(--items-per-view) - 1))) / var(--items-per-view));

    @include d-flex($g: var(--carousel-gap));
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;

    &:has(&__card--vibe) {
        --items-per-view: 8;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &--dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;

        .carousel__card {
            cursor: grab;
            user-select: none;
        }
    }

    &__card {
        flex: 0 0 var(--item-width);
        cursor: pointer;
        scroll-snap-align: start;

        &--vibe {
            @include d-flex($d: column, $ai: center, $g: size(12));
            flex: 0 0 var(--item-width);
            max-width: var(--item-width);

            &:hover {
                .vibe__icon {
                    background-color: var(--clr-primary-800);
                    color: clr(generic, white);
                }

                .vibe__name {
                    scale: 1.05;
                    color: var(--clr-primary-500);
                    transform: translateY(0.25rem);
                }
            }

            .vibe__icon {
                font-size: fs(700);
                padding: size(32);
                border-radius: 50%;
                background-color: var(--clr-neutral-800);
                color: var(--clr-primary-500);
                transition: all .25s ease-in-out;
            }

            .vibe__name {
                transition: all .25s ease-in-out;
            }
        }

        &:hover {
            .carousel__img {
                filter: brightness(0.6);
            }

            .carousel__actions {
                visibility: visible;
                opacity: 1;
            }
        }

        &--categories {
            &:hover {
                .carousel__category {
                    scale: 1.1;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: size(8);
        transition: .3s ease-out;

        &--artist {
            border-radius: 50%;
            margin-bottom: size(16);
        }

        &-container {
            margin-bottom: size(8);
            position: relative;
        }
    }

    &__actions {
        position: absolute;
        bottom: size(12);
        left: size(12);
        z-index: 10;
        @include d-flex($ai: center, $g: size(8));
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-out, opacity .3s ease-out;

        > i {
            color: var(--clr-primary-500);
            font-size: fs(350);
            padding: size(8);
            border-radius: 50%;
            transition: background-color .3s ease-in-out;
            cursor: pointer;
            background-color: var(--clr-primary-950);

            &:hover {
                background-color: var(--clr-primary-900);
            }
        }
    }

    &__arrows {
        position: absolute;
        right: 0;
        top: 0;
        @include d-flex($ai: center, $g: size(16));
        font-size: fs(400);
        i {
            padding: size(8);
            border-radius: 50%;
            transition: background-color .3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: var(--clr-primary-800);
            }
        }

        &:has(+ .carousel .carousel__card--vibe) {
            top: size(32);
        }

        &--hidden {
            display: none;
        }
    }

    &__p {
        transition: .3s ease-out;
        font-size: fs(250);
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__title {
        font-size: fs(300);
        margin-bottom: size(4);
    }

    &__artist {
        font-size: fs(250);
        color: var(--clr-primary-500);
    }

    &__released-on {
        font-size: fs(200);
        color: var(--clr-neutral-300);
    }

    &__category {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        font-size: fs(350);
        transform-origin: left;
        transition: .3s ease-out;

        @include mq(md) {
            font-size: fs(300);
        }
    }

    &__fans-number {
        font-size: fs(200);
        color: var(--clr-neutral-300);
    }

    @include mq(xxxl) {
        &:has(&__card--vibe) {
            --items-per-view: 7;
        }
    }

    @include mq(xxl) {
        --items-per-view: 4;

        &:has(&__card--vibe) {
            --items-per-view: 6;
        }

        &__p {
            font-size: fs(200);
        }

        &__title {
            font-size: fs(250);
        }

        &__artist {
            font-size: fs(200);
        }

        &__released-on {
            font-size: 11px;
        }

        &__arrows i {
            font-size: fs(350);
        }
    }

    @include mq(xl) {
        --items-per-view: 3;

        &:has(&__card--vibe) {
            --items-per-view: 4;
        }
    }

    @include mq(md) {
        --items-per-view: 2;
        --carousel-gap: #{size(20)};

        &__arrows {
            gap: size(10);
        }

        &:has(&__card--vibe) {
            .vibe__icon {
                padding: size(24);
                font-size: fs(500);
            }

            .vibe__name {
                font-size: fs(250);
            }
        }
    }

    @include mq(sm) {
        &:has(&__card--vibe) {
            --items-per-view: 3;
        }
    }
}