@use '../abstract' as *;

.logo {
  @include d-flex($ai: center, $g: size(16));
  font-size: fs(450);
  font-weight: $fw-600;
  transition: 0.3s ease-in-out;
  user-select: none;
  cursor: pointer;
  &:hover {
    color: clr(primary, 500);
    text-shadow: 0 0 1rem var(--clr-primary-800);
  }
  .icon-logo {
    font-size: fs(600);
  }
}
