@use '../abstract' as *;

.password-requirements {
  margin-bottom: size(32);

  &__title {
    margin-bottom: size(16);
  }

  &__item {
    @include d-flex($g: size(8), $ai: center);

    i {
      transition: 300ms ease;
    }

    .icon-x {
      color: var(--clr-secondary-400);
    }

    .icon-check {
      color: var(--clr-primary-400);
    }
  }
}