@use '../abstract' as *;

.player-queue {
  box-shadow: 0 0 10px 3px var(--clr-primary-900);
  background-color: var(--clr-primary-950);
  position: absolute;
  content: '';
  left: 100%;
  top: -1px;
  border-radius: 8px;
  border: 1px solid var(--clr-primary-200);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  width: 460px;
  height: 100%;
  box-sizing: content-box; // To account for borders of it's relative parent
  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    box-shadow: 0 0 16px var(--clr-primary-800);
  }

  &__header {
    @include d-flex($jc: space-between, $ai: center);
    padding: size(8);
    width: 100%;
    border-bottom: 1px solid var(--clr-primary-500);

    i:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-size: fs(300);
    font-weight: 600;
    color: var(--clr-primary-500);
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  &__artwork-img {
    width: 54px;
    height: 54px;
    border-radius: 4px;
  }

  &__list {
    height: calc(100% - 49px); // 49px = player-queue__header
    @include d-flex($d: column);
    scroll-behavior: smooth;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-primary-400) transparent;

    &::-webkit-scrollbar {
      width: 8px;
      // background-color: var(--clr-primary-400);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: size(8);
      background-color: var(--clr-primary-400);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Remove scrollbar buttons (up/down arrows) in Chrome */
    &::-webkit-scrollbar-button {
      display: none; /* Hide the arrows */
    }
  }

  &__item {
    @include d-flex($ai: center, $g: size(12));
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-block: size(4);
    transition: background-color .3s ease-out;
    cursor: pointer;
    padding-inline: size(8);
    border-bottom: 1px solid transparent;

    &--active {
      background-color: var(--clr-primary-900);
    }

    &:hover {
      background-color: var(--clr-primary-900);
    }

    &.dragging {
      background-color: var(--clr-primary-900);
      border-bottom-color: var(--clr-primary-500);
    }
  }

  &__song-info {
    @include d-flex($d: column);
    width: 100%;
    overflow-x: hidden;
  }

  &__song-name {
    font-weight: $fw-600;
    font-size: fs(250);
    color: var(--clr-neutral-300);
    white-space: nowrap;
    margin-bottom: size(2);
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__artist {
    font-weight: $fw-500;
    font-size: fs(200);
    color: var(--clr-neutral-300);
    white-space: nowrap;
  }

  &__time {

  }
  .player-queue__item i {
    flex-shrink: 0;
    &:hover {
      background-color: unset !important;
      color: unset !important;
    }
  }
}

// Disable hover effects on other items while one is being dragged
.dragging ~ .player-queue__item:hover {
  background-color: transparent;
}