@use '../abstract' as *;

.section {
  margin-bottom: size(80);
  position: relative;
  &__header {
    margin-bottom: size(24);
  }
  &__title {
    @include d-flex($ai: center, $g: size(16));
    width: fit-content;
    &:hover {
      color: var(--clr-primary-500);
      cursor: pointer;
      i {
        transform: translateX(1rem) rotate(180deg);
      }
    }
    i {
      transition: .4s ease-in-out;
      font-size: fs(400);
    }
  }
  &__desc {
    color: var(--clr-neutral-200);
  }
}