@use '../abstract' as *;

.soundwave__gif-container {
  width: 100%;
  height: calc(100vh - 57px);
  z-index: -5;
  position: fixed;
  left: $sidebar-width;
  top: $topbar-height;
  box-shadow: inset 0 0 12rem 0.5rem var(--clr-primary-900);
  transition: box-shadow .5s ease-out;
}

.soundwave__gif {
  display: none;
  position: fixed;
  top: 52px;
  width: 2%;
  height: inherit;
}

.soundwave__gif--left {
  left: 300px;
}

.soundwave__gif--right {
  right: 0;
  transform: rotate(180deg);
}