@use '../abstract' as *;

.table {
  @include d-flex($d: column);

  &__header {
    background-color: clr(neutral, 850);
    border-radius: 0.5rem;
    color: clr(neutral, 100);
    margin-bottom: size(8);
    line-height: size(48);
    font-weight: $fw-500;

    .table__row {
      @include d-flex();
      padding-inline: size(16);
      border-radius: 0.5rem;
    }
  }

  &__body {

    .table__row {
      @include d-flex();
      padding-inline: size(16);
      border-radius: 0.5rem;
      transition: 200ms ease-in-out;

      &:hover {
        background-color: var(--clr-primary-950);
      }
    }

    .table__data {
      line-height: size(48);
      color: clr(neutral, 200);
    }
  }

  &__data {
    flex: 1;
  }

  .icon-dots {
    border: 1px solid transparent;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-size: fs(350);

    &:hover {
      background-color: var(--clr-primary-900);
      border: 1px solid var(--clr-primary-500);
    }
  }
}

#table-users {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // ID
    &:nth-child(2) {
      flex: 0 0 clamp(120px, 120px, 200px);
    }

    // Type
    &:nth-child(3) {
      flex: 0 0 220px;
    }

    // Status
    &:nth-child(4) {
      flex: 0 0 max-content;
    }

    // Email
    &:nth-child(5) {
      // Već imaju flex: 1
    }

    // Username
    &:nth-child(6) {
      // Već imaju flex: 1
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}

#table-songs {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // Title
    &:nth-child(2) {
      flex: 0 0 clamp(120px, 300px, 400px);
    }

    // Artist
    &:nth-child(3) {
      flex: 0 0 300px;
    }

    // Collab. artists
    &:nth-child(4) {
      flex: 0 0 clamp(120px, 300px, 400px);
    }

    // Duration
    &:nth-child(5) {
      text-align: center;
      flex: 0 0 100px;
    }

    // Size
    &:nth-child(6) {
      text-align: center;
      flex: 0 0 120px;
    }

    // Genre
    &:nth-child(7) {
      // Već imaju flex: 1
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}

#table-artists {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // ID
    &:nth-child(2) {
      flex: 0 0 120px
    }

    // Name
    &:nth-child(3) {
      flex: 0 0 clamp(120px, 400px, 600px);
    }

    // Image
    &:nth-child(4) {
      text-align: center;
      flex: 0 0 120px;
    }

    // Created on
    &:nth-child(5) {
      text-align: center;
    }

    &:nth-child(6) {
      text-align: center;
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}

#table-albums {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // ID
    &:nth-child(2) {
      flex: 0 0 120px
    }

    // Title
    &:nth-child(3) {
      flex: 1 0 clamp(120px, 500px, 800px);
    }

    // Release Date
    &:nth-child(4) {
      flex: 0 0 180px;
    }

    // Created on
    &:nth-child(5) {
      flex: 0 0 120px;
      text-align: center;
    }

    &:nth-child(6) {

    }

    &:nth-child(7) {
      flex: 0 0 140px;
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}

#table-playlists {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // ID
    &:nth-child(2) {
      flex: 0 0 120px
    }

    // Playlist Name
    &:nth-child(3) {
      flex: 0 0 120px
    }

    // Created by User
    &:nth-child(4) {
      flex: 1 0 clamp(120px, 500px, 800px);
    }

    // Type
    &:nth-child(5) {
      flex: 0 0 120px;
      text-align: center;
    }

    // Total Songs
    &:nth-child(6) {
      text-align: center;
      flex: 0 0 100px;
    }

    // Created on
    &:nth-child(7) {
      flex: 0 0 140px;
    }

    // Updated on
    &:nth-child(8) {
      flex: 0 0 140px;
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}

#table-genres {
  .table__data {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: size(20);

    &:not(:last-child) {
      overflow: hidden;
    }

    // Checkbox
    &:first-child {
      flex: 0 0 max-content;
      text-align: center;
      align-content: center;

      .custom-checkbox-field__indicator {
        border-color: clr(neutral, 400);
      }
    }

    // ID
    &:nth-child(2) {
      flex: 0 0 120px
    }

    // Genre Name
    &:nth-child(3) {

    }

    // Genre Image
    &:nth-child(4) {
      flex: 0 0 100px
    }

    // Songs in Genre
    &:nth-child(5) {
      flex: 0 0 120px;
      text-align: center;
    }

    // Created on
    &:nth-child(6) {
      text-align: center;
      flex: 0 0 200px;
    }

    // Actions
    &:last-child {
      flex: 0 0 max-content;
      @include d-flex($ai: center);
      padding-right: 0;
      position: relative;
    }
  }
}