$colors: (
  primary: (
    50: #ccfff5,
    100: #b3fff0,
    200: #80ffe6,
    300: #4dffdb,
    400: #1affd1,
    500: #00ffcc,
    600: #00e6b8,
    700: #00b38f,
    800: #008066,
    900: #004d3d,
    950: #003329,
  ),
  secondary: (
    50: #ffe4cc,
    100: #ffd6b3,
    200: #ffbb80,
    300: #ffa04d,
    400: #ff851a,
    500: #ff7700,
    600: #e66b00,
    700: #b35300,
    800: #803c00,
    900: #4d2400,
    950: #331800,
  ),
  neutral: (
    50: #fafafa,
    100: #f5f5f5,
    200: #e5e5e5,
    300: #d4d4d4,
    400: #a3a3a3,
    500: #737373,
    600: #525252,
    700: #404040,
    800: #262626,
    900: #171717,
    950: #0a0a0a,
  ),
  generic: (
    white: #ffffff,
    black: #000000,
  ),
);