$ff-montserrat: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 400;
$fw-bold: 700;

$font-sizes: (
  100: 0.5rem,
  150: 0.625rem,
  200: 0.75rem,
  250: 0.875rem,
  300: 1rem,
  350: 1.125rem,
  400: 1.25rem,
  450: 1.5rem,
  500: 1.75rem,
  550: 2rem,
  600: 2.25rem,
  650: 2.5rem,
  700: 2.75rem,
  750: 3rem,
  800: 3.5rem,
  850: 4rem,
  900: 4.5rem,
  950: 5rem,
);

$line-heights: (
  32: 2rem,
  36: 2.25rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
);

