@use '../abstract' as *;

.context-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: clr(neutral, 850);
  border-radius: size(4);
  border: 1px solid clr(neutral, 300);
  color: var(--base-color);
  z-index: 999;
  transition: 200ms ease-out;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  &--open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0.5rem);
  }

  &__item {
    white-space: nowrap;
    text-align: left;
    padding-inline: 0.75rem;
    transition: 200ms ease-out;
    line-height: 2rem;

    &:hover {
      background-color: clr(primary, 900);
    }
  }
}