@use '../abstract' as *;

.registration {
  $footer-height: 59px;
  @include d-flex($d: column, $jc: center, $ai: center);
  padding-top: size(96);

  .logo {
    font-size: fs(450);

    .icon-logo {
      font-size: fs(600);
    }
  }
}

.registration-page {
  background-image: url("/src/assets/backgrounds/bg_black_dots.png");
  background-size: cover;
  min-height: 100vh;

  .footer {
    position: fixed;
    bottom: 0;
  }
}