@use "../abstract/typography" as *;
@use "../abstract/colors" as *;
@use "../abstract/sizes" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

body {
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-optical-sizing: auto;
  font-size: fs(300);
  line-height: 1.5;
  color: clr(generic, white);
  background-color: clr(generic, black);
}

h1 {
  font-size: fs(700);
  font-weight: $fw-600;
  line-height: 56px;
  margin-bottom: size(40);

  @include mq(md) {
    font-size: fs(600);
    line-height: 48px;
    margin-bottom: size(32);
  }

  @include mq(sm) {
    font-size: fs(500);
    line-height: 40px;
    margin-bottom: size(24);
  }
}

h2 {
  font-size: fs(600);
  font-weight: $fw-600;
  line-height: size(48);
  margin-bottom: size(36);

  @include mq(md) {
    font-size: fs(500);
    line-height: size(40);
    margin-bottom: size(24);
  }
}

h3,
legend {
  font-size: fs(500);
  font-weight: $fw-600;
  line-height: size(40);
  margin-bottom: size(32);
}

h4 {
  font-size: fs(450);
  font-weight: $fw-600;
  line-height: size(36);
  margin-bottom: fs(500);

  @include mq(xxl) {
    font-size: fs(400);
    margin-bottom: fs(350);
  }

  @include mq(md) {
    font-size: fs(350);
    line-height: fs(400);
    margin-bottom: fs(300);
  }
}

h5 {
  font-size: fs(400);
  font-weight: $fw-600;
  line-height: size(32);
  margin-bottom: size(24);
}

p {
  @include mq(xxl) {
    font-size: fs(250);
  }
}